* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #424748;
}


body {
  margin: 0 auto;
  height: 10vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}


a {
  color: black;
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 30px;
}

nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}