<%- include('../partials/header')%>
<section class="team-info">
  <h2>Bayern Munich</h2>
  <h3><a href="https://allianz-arena.com/en">Allianz Arena</a></h3>
  <h3><a href="https://www.google.com/search?gs_ssp=eJzj4tTP1TcwNjc0szRg9OJKKs1LSS3OyUxPBABGIwa8&q=bundesliga&oq=bunde&gs_lcrp=EgZjaHJvbWUqDQgBEC4YgwEYsQMYgAQyEAgAEAAYgwEY4wIYsQMYgAQyDQgBEC4YgwEYsQMYgAQyDQgCEC4YgwEYsQMYgAQyDQgDEAAYgwEYsQMYgAQyBggEEEUYOTINCAUQABiDARixAxiABDINCAYQABiDARixAxiABDIKCAcQABixAxiABDINCAgQABiDARixAxiABDIHCAkQABiABNIBCjE1NjQ4ajFqMTWoAgCwAgA&sourceid=chrome&ie=UTF-8#sie=lg;/g/11j4slbd63;2;/m/037169;st;fp;1;;;">Bundesliga Rank: League Champs!</a> </h3>
</section>
<%- include('../partials/footer')%>