<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
  <title>Bayern Munich Blog Page</title>
</head>



<body>
  <nav> 
  <img id="logo" src="https://img.fcbayern.com/image/upload/v1685202905/cms/public/images/administration/global/meister.gif">
  <a href="/" <%- title === 'Home' ? 'class="active"' : '' %>>Home</a>
  <% if (user) { %>
  <a href="/team" <%- title === 'Team' ? 'class="active"' : '' %></a>Team</a>
  <a href="/logout">LOG OUT</a>
  <% } else { %>
  <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
  <% } %>
</nav>

<header>
  <img src="" alt="">
</header>

  <h1><%= title %></h1>