<%- include('./partials/header')%>

<h2>Bayern Blog Page</h2>

<section id="post-area">
  <% posts.forEach(function(p) { %>
<div>
  <%= p.title %>
  <%= p.content %>
</div>
  <% }) %>
</section>

<form action="/" method="POST" autocomplete="off">
  <div>Title</div>
  <input type="text"><br>
  <div>Content</div>
  <textarea name="post" id="" cols="80" rows="5"></textarea><br>
  <button type="submit">Create Post</button>
</form>

<%- include('./partials/footer')%>